[Unit]
Description=Servidor Python para Reloj (Crypto y Spotify)
After=network.target

[Service]
Type=simple
User=plof
Group=plof
WorkingDirectory=/home/plof/Documentos/CPPproyects/reloj/pythonServer
ExecStart=/usr/bin/uv run main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
